.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  outline: 1px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

body {
  font-family: DM Sans sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF5F6;
}
.about .container {
  background-image: url(/images/milk_mob_1x.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .about .container {
    background-image: none;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title-wrap {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .picture-wrap {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .picture-wrap {
    margin-right: 139px;
  }
}

.about-title-lable {
  margin-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .about-title-lable {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .about-title-lable {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about-title {
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .about-title {
    font-size: 48px;
    line-height: 0.87;
  }
}
@media screen and (min-width: 1280px) {
  .about-title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 79px;
  }
}

.about-descr {
  max-width: 220px;
}
@media screen and (min-width: 768px) {
  .about-descr {
    max-width: 334px;
  }
}
@media screen and (min-width: 1280px) {
  .about-descr {
    padding-top: 72px;
    padding-bottom: 99px;
    max-width: 463px;
  }
}

.about-top-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about-top-text {
    font-size: 14px;
    line-height: 1.79;
  }
}
@media screen and (min-width: 1280px) {
  .about-top-text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about-botom-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .about-botom-text {
    font-size: 14px;
    line-height: 1.79;
  }
}

.btn-read-more {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  min-width: 176px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #D41443;
  background: #FFFFFF;
  border-radius: 22px;
  border-color: transparent;
}
@media screen and (min-width: 1280px) {
  .btn-read-more {
    font-size: 16px;
    line-height: 1.31;
  }
}

.icon-vector {
  position: absolute;
  right: 134px;
}

.mob-menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: fill var(--duration-time);
  transition-property: fill var(--duration-time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  cursor: pointer;
}
.mob-menu-btn:hover, .mob-menu-btn:focus {
  fill: rgb(212, 20, 67);
}/*# sourceMappingURL=main.css.map */