.container {
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  outline: 1px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: DM Sans sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF5F6;
}
.about .container {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.overlay {
  max-width: 480px;
  background-image: url(../images/about/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-position: 50% 73%;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/about/about-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: none;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-position: bottom;
    background-image: url(../images/about/about-bg-desk-1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/about/about-bg-desk-2x.png);
  }
}

.about__title-wrap {
  text-align: center;
}

.about-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media screen and (min-width: 768px) {
  .picture-wrap {
    width: 336px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .picture-wrap {
    width: 501px;
    margin-right: 139px;
  }
}

.about__lable {
  margin-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .about__lable {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .about__lable {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 0.87;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 79px;
  }
}

.about__descr {
  margin-right: 80px;
}
@media screen and (min-width: 768px) {
  .about__descr {
    max-width: 334px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__descr {
    max-width: 463px;
  }
}

.about__top-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about__top-text {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__top-text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about__botom-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .about__botom-text {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__botom-text {
    font-size: 14px;
    line-height: 1.79;
  }
}

.about__btn {
  position: relative;
  padding: 11px 37px;
  min-width: 176px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D41443;
  background: #FFFFFF;
  border-radius: 22px;
  border-color: transparent;
}
.about__btn:hover, .about__btn:focus {
  background: #ECEBEB;
}
@media screen and (min-width: 768px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__btn-vector {
  position: absolute;
  right: 38px;
}

.mob-menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: fill var(--duration-time);
  transition-property: fill var(--duration-time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  cursor: pointer;
}
.mob-menu-btn:hover, .mob-menu-btn:focus {
  fill: rgb(212, 20, 67);
}/*# sourceMappingURL=main.css.map */