body {
  font-family: DM Sans sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF5F6;
}
@media screen and (min-width: 768px) {
  .about {
    background-image: none;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about__title-wrap {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .picture-wrap {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .picture-wrap {
    margin-right: 139px;
  }
}

.about__lable {
  margin-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .about__lable {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .about__lable {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 0.87;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 79px;
  }
}

.about__descr {
  width: 220px;
}
@media screen and (min-width: 768px) {
  .about__descr {
    max-width: 334px;
  }
}
@media screen and (min-width: 1280px) {
  .about__descr {
    padding-top: 72px;
    padding-bottom: 99px;
    max-width: 463px;
  }
}

.about__top-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about__top-text {
    font-size: 14px;
    line-height: 1.79;
  }
}
@media screen and (min-width: 1280px) {
  .about__top-text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about__botom-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .about__botom-text {
    font-size: 14px;
    line-height: 1.79;
  }
}

.about__btn {
  position: relative;
  padding: 11px 37px;
  min-width: 176px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D41443;
  background: #FFFFFF;
  border-radius: 22px;
  border-color: transparent;
}
.about__btn:hover, .about__btn:focus {
  background: #ECEBEB;
}
@media screen and (min-width: 768px) {
  .about__btn {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__btn-vector {
  position: absolute;
  right: 38px;
}

.mob-menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: fill var(--duration-time);
  transition-property: fill var(--duration-time);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  cursor: pointer;
}
.mob-menu-btn:hover, .mob-menu-btn:focus {
  fill: rgb(212, 20, 67);
}/*# sourceMappingURL=main.css.map */